@model PDFManipulations.Models.EmpModel

@{
    ViewBag.Title = "PDF Operations";
}

@using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    @Html.AntiForgeryToken()

     <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
                @ViewBag.FileStatus
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
                @Html.ActionLink("PDF Details", "Home", "Home/FileDetails")
            </div>
            <div class="col-md-8">
                @Html.ActionLink("Merge Files", "MergeFiles", "MergePDF", "MergePDFController")
               
            </div>
            <h> Put the files on "C:\PDF" to merge the PDFs </h>
        </div>
    </div>
}